<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gpslocationextension"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:targetSdkVersion="21" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="false" />

    <application
        android:allowBackup="true" >
        <service
            android:name="com.estimote.sdk.service.BeaconService"
            android:exported="false" />
         <activity
            android:name="com.estimote.sdk.DefaultRequirementsCheckerCallback$Activity" />
        <receiver android:name="com.estimote.sdk.service.BeaconService$ScanAlarmBroadcastReceiver" />
        <receiver android:name="com.KjeMar.AndroidWiFiLocationListener$receiver">
            <intent-filter>
                <action android:name="android.net.wifi.supplicant.CONNECTION_CHANGE"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>
